body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #B0E4CC;
    background: #091413;
}

table{
    margin: 0 auto;
    width: 600px;
    border-collapse: collapse;
}

th, td{
    border: 2px solid #B0E4CC;
    padding: 12px;
}

h1, h2, h3{
    color: white;
}

nav{
    max-width: 800px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
}

nav ul{
    padding: 0;
    display: flex;
    justify-content: center;
    /*gap: 100px;*/
    background-color: #285A48;
    border: 2px;
    border-radius: 20px;
    padding: 8px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    border-right: 2px solid #B0E4CC;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

li:last-child a{
    border-right: none;
}

.skip-link{
    color: #B0E4CC;
}

.project-grid{
    display: grid;
    max-width: 600px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}

.project-card{
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    background-color: #285A48;
    /*border: 2px solid white;*/
}

.project-card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 20px #B0E4CC;
}

footer{
    color: white;
}